<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RW3TKBBF6J"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RW3TKBBF6J');
    </script>
    <title>Youtube Summarizer</title>
    <style>
        body {
            background-color: #000000;
            color: #ffd6d6;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        ::-webkit-scrollbar {
            width: 5px;
        }
        

    .responsive-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
    }

    .responsive-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

        ::-webkit-scrollbar-track {
            background: #111827;
        }

        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        .bg-gray-900 {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }
        h1 {
            font-size: 2em;
            margin: 0.9em 2px;
            text-align: center;
        }

        label {
            display: block;
            font-size: 1.2em;
            margin-bottom: 0.5em;
        }

        button[type="submit"]:hover {
            background-color: #2777e0;
        }
        .responsive-container {
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 16px;
            height: 0;
            overflow: hidden;
        }

        .responsive-container iframe,
        .responsive-container object,
        .responsive-container embed,
        .responsive-container video
        {
            margin-left: auto;
            margin-right: auto;
            display: block
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 75vh;
        }
        button { position: relative; display: inline-block; border: none; background-color: #f0f0f0; cursor: pointer; }

        .tooltip .tooltiptext { visibility: hidden; width: 120px; background-color: black; color: #fff; text-align: center; padding: 5px; border-radius: 6px;

            position: absolute; z-index: 1; }

        .tooltip:hover .tooltiptext { visibility: visible; }
    </style>
</head>
<body>
<div class="flex justify-between items-center  p-4">

    <div class=" text-2l font-extrabold">
        <span class="text-blue-400">Subtitle</span>
        <span class="text-white ">Summarizer</span>
    </div>


    <a
            href="https://github.com/atilaahmettaner/youtube-subtitle-summarizer"
            target="_blank"
            rel="noreferrer"
            aria-label="GitHub"
            class="flex items-center text-neutral-700 hover:text-neutral-500 dark:text-neutral-100 dark:hover:text-neutral-300"
    >
        <i class="fa-brands fa-github mr-2"></i>

    </a>
</div>

<br>
<form method="post" id="myForm" class="flex flex-wrap justify-center items-center px-12 "  onsubmit="return validateInput()">
    <div class="relative rounded-md flex-grow-1 max-w-lg mx-7">
        <input type="text" id="input" name="input" placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" required class="w-full py-2 px-12 pr-20 rounded-md bg-gray-600 border-2 border-gray-600 focus:border-blue-800 focus:outline-none"/>
        <select id="language-select" name="selectedLanguage" class=" text-white bg-gray-600 absolute inset-y-0 right-0 py-3/2 px-1 rounded-md focus:outline-none ">
            <option value="en">English</option>
            <option value="tr">Turkish</option>
            <option value="hi">Hindi</option>
            <option value="pt">Portuguese</option>
            <option value="fil">Filipino</option>
            <option value="de">German</option>
            <option value="fr">French</option>
            <option value="id">Indonesian</option>
        </select>
        <div class="absolute inset-y-0 left-0 flex items-center pl-4">
            <svg class="h-6 w-6 text-gray-400" viewBox  ="0 0 24 24" fill="none" stroke="currentColor">
                <path d="M22.5 21L16.8 15.3C18.3 13.5 19.2 11.3 19.2 9C19.2 4.5 15.5 0.75 11 0.75C6.5 0.75 2.75 4.5 2.75 9C2.75 13.5 6.5 17.25 11 17.25C13.1 17.25 15.1 16.35 16.8 15.3L22.5 21ZM11 15C8.25 15 6 12.75 6 10C6 7.25 8.25 5 11 5C13.75 5 16 7.25 16 10C16 12.75 13.75 15 11 15Z" />
            </svg>
        </div>
    </div>

    <button type="submit" id="submit-btn" class="py-2 px-6 rounded-md bg-blue-500 hover:bg-blue-600 text-white font-bold ml-4">
        Summarize
    </button>


</form>
<div class="flex items-center justify-center">
    <div id="error-message" class="text-red-600 font-bold p-4">
            
    </div>
</div>

<div id="loading-spinner" class="hidden flex items-center justify-center fixed inset-0 z-50 w-full h-full bg-gray-800 bg-opacity-75">
    <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-white"></div>
</div>

<script>
    const loadingSpinner = document.getElementById('loading-spinner');
    const myForm = document.getElementById('myForm');
    const submitBtn = document.getElementById('submitBtn');

    myForm.addEventListener('submit', function() {
        if (validateInput()) {
            loadingSpinner.classList.remove('hidden');
        }
    });

    submitBtn.addEventListener('click', showLoadingSpinner);

    function validateInput() {
        const inputField = document.getElementById("input");
        const errorMessage = document.getElementById("error-message");
        const regex = /^(https?:\/\/)?(www\.)?(youtube\.com\/watch\?v=|youtu\.be\/)[\w-]{11}$/;

        if (!regex.test(inputField.value)) {
            errorMessage.innerHTML = "<span>       Please enter a valid YouTube video link.</span>";
            return false;
        }
        errorMessage.innerHTML = "";
        return true;
    }
</script>




<% if (typeof algo !== 'undefined' && algo !== null) { %>


<script>
    function copyText(id,myTooltip) {
        const text = document.getElementById(id).textContent;
        navigator.clipboard.writeText(text);
        const tooltip = document.getElementById(myTooltip);
        tooltip.innerHTML = "Copied!";
    }
</script>   
<div class="flex items-center justify-center">
    <h3 class="text-3xl font-bold dark:text-white"><%=algo.title%></h3>

</div>

<div class="container mx-auto px-6 py-4">
    <div class="grid grid-cols-1 gap-4">
        <div class="bg-black rounded-md">
            <div class="flex items-center relative text-gray-200 bg-gray-800 px-4 py-2 text-s font-sans justify-between rounded-t-md">
                <span>Full Subtitle View</span>
                <button class="tooltip" style="background: transparent; color: white; " onclick="copyText('longsub','myTooltip1')">
                    <i class="fa-solid fa-copy"></i>
                    <span class="tooltiptext" id="myTooltip1" style="background-color: #404040; color: white;">Copy to clipboard</span>
                </button>
            </div>
            <div class="bg-gray-900 p-4 overflow-y-scroll h-64 border-2 border-black">
                <p id="longsub" class="text-white text-sm">
                    <%=algo.longSub %>
                </p>
            </div>
        </div>
    </div>
</div>  

<div class="container mx-auto px-6 py-4">
    <div class="grid grid-cols-1 gap-4">
        <div class="bg-black rounded-md">
            <div class="flex items-center relative text-gray-200 bg-gray-800 px-4 py-2 text-s font-sans justify-between rounded-t-md">
                <span>Summarize with Chatgpt</span>
                <button class="tooltip" style="background: transparent; color: white; " onclick="copyText('summarys','myTooltip3')">
                    <i class="fa-solid fa-copy"></i>
                    <span class="tooltiptext" id="myTooltip3" style="background-color: #404040; color: white;">Copy</span>
                </button>
            </div>
            <div class="bg-gray-900 p-4 overflow-y-scroll h-64 border-2 border-black">
                <p id="summarys" class="text-white text-lg">
                    <%=algo.aiSummary %>
                </p>
            </div>
        </div>
    </div>
</div>




<script>
    var player;

    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: "<%= algo.input %>",
        });
    }

    function jumpToTime(time) {
        const [minutes, seconds] = time.split(':');
        const totalSeconds = parseInt(minutes) * 60 + parseInt(seconds);
        player.seekTo(totalSeconds);
    }

    function showComment(text) {
        const commentContainer = document.getElementById('comment-container');
        commentContainer.innerHTML = text;
    }
</script>

<div class="responsive-container">
    <div id="player"></div>
   
</div>
<div class="timestamps mt-4 flex items-center justify-center">
    <h2 class="text-lg font-bold mb-2">Important Timestamps:</h2>

    <ul class="flex flex-wrap gap-4">
        <% for (var i = 0; i < algo.myData.length; i++) { %>
            <li class="bg-blue-500 text-white rounded-lg px-3 py-1 hover:bg-blue-700 transition duration-300" onclick="jumpToTime('<%= algo.myData[i] %>')">
                <%= algo.myData[i] %>
            </li>
        <% } %>
    </ul>
</div>
<div class="commenttime mt-4 flex items-center justify-center">
    
</div>
<h2 class="text-lg font-bold mb-2">Comment Timestamps:</h2>

    <ul class="flex flex-wrap gap-4">
        <% for (var i = 0; i < algo.timeStamps.length; i++) { %>
            <li class="bg-blue-500 text-white rounded-lg px-3 py-1 hover:bg-blue-700 transition duration-300" onclick="jumpToTime('<%= algo.timeStamps[i].time %>')" onmouseover="showComment('<%= algo.timeStamps[i].text %>')" onmouseout="showComment('')">
                <%= algo.timeStamps[i].time %>
            </li>
        <% } %>
    </ul>
<div style="text-align: center;">
    <div style="display: inline-block; margin: 0 auto;">
        <div id="comment-container"></div>
    </div>
</div>

<script>
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            videoId: "<%= algo.input %>",
        });
    }
</script>


<% }
else { %>
    <p></p>
<% } %>
</body>
</html>
